@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 컨텐트 */
.region_content {
    width: 100%;
}

.mySwiper {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 675px;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60%;
    border-radius: 10px;
    background-image: linear-gradient(transparent,rgba(0,0,0,.9));
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide_text {
    position: absolute;
    bottom: 200px;
    left: 180px;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

.slide_text strong {
    font-size: 35px;
    font-weight: 700;
}

/* 슬라이드 페이지 표시 */
.swiper-pagination {
    top: 10% !important;
    left: 90% !important;
    width: 80px !important;
    height: 40px;
    font-size: 20px;
    background:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important
}


/* 슬라이드 버튼 수정 */
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.8;
  padding: 15px 5px;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

/* 도시 컨텐츠 */
.region_city_content {
    background: #edeef2;
    padding-top: 31px;
    position: relative;
}

/* 도시 컨테이너 */
.region_city_container {
    width: 940px;
    padding-bottom: 50px;
    margin: auto;
}

/* 도시 제목랩 */
.region_city_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}

/* 도시 제목 */
.region_city_title_wrap h2 {
    font-weight: 800;
    font-size: 22px;
    color: #333;
    letter-spacing: -1px;
    line-height: 59px;
}

/* 내위치 */
.region_myPlace_box {
    display: flex;
    align-items: center;
}

.region_myPlace_box p {
    font-size: 14px;
    color: #000;
}

.region_myPlace_box p {
    margin-right: 5px;
}


.region_myPlace_slider_wrap {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
}

.region_myPlace_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
}

.region_myPlace_slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* 도시 선택 */
.region_citySelect_box {
    width: 100%;
    margin: 10px 0 20px;
    display: flex;
}

.region_citySelect_box button {
    width: 55px;
    height: 34px;
    box-sizing: border-box;
    font-size: 16px;
}

/* 호버됐을 때 */
.region_citySelect_box button:hover {
    background: #13294b;
    color: #fff;
    border-radius: 50px;
    box-shadow: 4px 5px 12px 0px rgba(19, 41, 75, 0.3);
}

/* 도시 디테일 */
.region_cityDetail_wrap {
    padding: 0 30px 23px 30px;
    background: #fff;
    border-radius: 10px;
}

.region_cityDetailTitle_box {
    padding: 37px 0 26px;
    display: flex;
}

.region_cityDetailTitle_box a {
    display: flex;
    align-items: center;
}

.region_cityDetailTitle_box h3 {
    margin-left: 8px;
    font-size: 25px;
    font-weight: 800;
}

.region_cityDetailTitle_box img {
    width: 34px;
    height: 36px;
}

.region_citySubTitle {
    font-size: 16px;
    color: #666;
    margin-top: 7px;
}

.region_citySubTitle::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 25px;
    background: #d5d2d2;
    margin: 0 10px 0 11px;
    vertical-align: -6px;
}

.region_citySubTitle a {
    display: inline-block;
    padding-right: 30px;
    line-height: 22.4px;
    height: 22.4px;
    background: url(../images/zone_link.png)100% 0px no-repeat;
}

/* 도시 디테일 컨텐츠 */
.region_cityDetailCont_wrap {
    display: flex;
}

/* 왼쪽 컨텐츠 */
.region_cityFestivaLeftCover_wrap {
    width: 257px;
    height: 325px;
    margin-bottom: 26px;
}

.region_cityFestivaLeftImg_box {
    width: 257px;
}

.region_cityFestivaLeftImg_box a {
    display: inline-block;
    text-align: center;
    width: 226px;
    height: 320px;
    box-shadow: 14px 14px 43px 0px rgba(15, 37, 72, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

.region_cityFestivaLeftImg_box a img {
    width: 100%;
    height: 100%;
    transition: all 0.8s;
}

.region_cityFestivaLeftImg_box a img:hover {
    transform: scale(1.07);
    transition: all 0.8s;
}

/* 가운데 컨텐츠 */
.region_cityFestivalMid_wrap {
    width: 322px;
}

.region_cityFestivalMidText_box {
    margin-top: 48px;
}

.region_cityFestivalMidText_box strong {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 36px;
}

.region_cityFestivalMidText_box p {
    margin-top: 2px;
    color: #353535;
    font-size: 18px;
}

.region_cityFestivalMid_wrap a {
    display: inline-block;
    margin-top: 37px;
    width: 108px;
    height: 34px;
    padding-left: 20px;
    line-height: 34px;
    border: 1px solid #666;
    border-radius: 50px;
    letter-spacing: -0.5px;
    background: url(../images/narrow.gif) 94px 50% no-repeat;
    color: #666;
    font-size: 15px;
}


.region_cityFestivalMid_wrap a:hover {
    border: 1px solid #000;
    color: #000;
}

/* 오른쪽 컨텐츠 */
.region_cityFestivalRight_wrap ul {
    width: 300px;
    height: 320px;
}

.region_cityFestivalRight_wrap ul li {
    width: 100%;
    height: 100px;
    padding: 28px 45px 25px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    position: relative;
}

.region_cityFestivalRight_wrap ul li:hover {
    border: 1px solid #666;
}

.region_cityFestivalRight_wrap ul li:not(:first-child) {
    margin-top: 10px;
}

.region_cityFestivalRight_wrap ul li a strong {
    color: #0272d4;
    display: block;
    letter-spacing: -0.5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.region_cityFestivalRight_wrap ul li a {
    display: block;
    color: #000;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.2;
}

.region_cityFestivalRight_wrap ul li a::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 16px;
    position: absolute;
    right: 30px;
    top: 39px;
    background: url(../images/ico_zone_cont.png) 100% 0 no-repeat;
    color: #fff;
}

/* 하단 도시 시/군/구 */
.region_citySubdetail_wrap {
    width: 100%;
    height: auto;
    padding: 24px 95px 12px 0;
    box-sizing: border-box;
    display: flex;
    border-top: 1px dashed #c6c6c6;
}

.region_citySubdetail_wrap ul {
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.region_citySubdetail_wrap ul li {
    margin-left: 20px;
    font-size: 15px;
    color: #666;
}

/* 축제 컨텐츠 */

.region_festivalContent {
    width: 940px;
    margin: 50px auto;
    position: relative;
}

.region_festivalContentTitle_box h2 {
    float: left;
    width: 172px;
    height: 77px;
    background: url(../images/festivalTitle.png) no-repeat;
    text-indent: -9999px;
}

.region_fetivalContent_slider_cover {
    position: relative;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-left: 192px;
    overflow: hidden;
}

.region_festivalContent_slider_wrap {
    width: 236px;
    height: 235px;
    margin-right: 20px;
    position: relative;
    /* 자바스크립트로 클릭시 256px씩 컨트롤 */
    /* transform: translateX(-512px); */
}

/* 슬라이더 테두리 */
.region_festivalContent_slider_wrap a::after {
    content: '';
    display: block;
    width: 236px;
    height: 235px;
    border: 1px solid #f4f3f3;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    border-radius: 10px;
    box-sizing: border-box;
}

/* 백그라운드 이미지 */
.region_festivalContent_slider_wrap>a>span {
    height: 235px;
    display: block;
    width: 236px;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
}

/* 슬라이더 이미지 */
.region_festival_slider_img1 {
    background: url(../images/festival_slide_img1.jpeg);
}

.region_festival_slider_img2 {
    background: url(../images/festival_slide_img2.jpeg);
}

.region_festival_slider_img3 {
    background: url(../images/festival_slide_img3.jpeg);
}

.region_festival_slider_img4 {
    background: url(../images/festival_slide_img4.jpeg);
}

.region_festival_slider_img5 {
    background: url(../images/festival_slide_img5.jpeg);
}

.region_festival_slider_img6 {
    background: url(../images/festival_slide_img6.jpeg);
}

/* 슬라이더 호버 텍스트 */
.region_festivalContentImgText_box {
    position: absolute;
    width: 236px;
    height: 95px;
    bottom: 0;
    background: #fff;
    padding: 17px 18px 0;
    /* 자바스크립트로 show hide */
    /* display: none; */
}

.region_festivalContentImgText_box span {
    display: block;
}

.region_festivalTextBlue {
    padding: 0 0 6px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #357cae;
    letter-spacing: -0.5px;
}

.region_festivalTitleText {
    font-size: 16px;
    letter-spacing: -0.7px;
    color: #000;
    line-height: 20px;
}

.region_festivalSubCityText {
    padding: 5px 0 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #666;
}

.region_festivalSlider_prevBtn {
    position: absolute;
    margin-top: 0;
    top: 96px;
    left: 172px;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../images/slider_zone_prevbtn.png);
    background-size: cover;
    z-index: 5;
}

.region_festivalSlider_nextBtn {
    position: absolute;
    margin-top: 0;
    top: 96px;
    right: -20px;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../images/slider_zone_nextbtn.png);
    background-size: cover;
    z-index: 5;
}

.region_festival_more_icon {
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 107px;
    line-height: 17px;
}

.region_festival_more_icon::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    vertical-align: -1px;
    background: url(../images/festival_more_icon.png) no-repeat;
}

.region_festivalcalendar_link span {
    color: #ef386e;
}

.region_festivalcalendar_link {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    font-size: 15px;
    color: #333;
    line-height: 30px;
    letter-spacing: -0.5px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    position: absolute;
    top: 199px;
}

.region_oneCutView_content {
    width: 100%;
    background: #fff;
    margin-top: 30px;
}

.region_oneCutView_content h2 {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -1px;
    padding: 4px 0 15px;
    color: #333;
}

.region_oneCutView_container {
    width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.region_oneCutView_wrap {
    width: 300px;
    height: 219px;
    padding: 21px 19px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
}

.region_oneCutView_wrap h3 {
    margin-top: -5px;
    height: 38px;
    padding: 3px 15px 0 2px;
    font-weight: 800;
    color: #000;
    font-size: 16px;
}

.region_oneCutView_box {
    width: 260px;
    height: 140px;
    border-radius: 5px;
    overflow: hidden;
}

.region_oneCutView_box img {
    width: 100%;
    height: 100%;
}