/* 메인 상단 이미지 */
.travelAi_topImg_wrap {
    width: 100%;
    height: 330px;
    background: url("../images/mainBackground.jpeg") center;
    display: flex;
    align-items: center;
}

.travelAi_topImgText_box {
    width: 1180px;
    margin: auto;
    color: #fff;
    font-size: 30px;
}

/* 이미지 하단 가이드 바 */
.travelAi_guideSns_container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dfdfdf;
}

.travelAi_guideSns_wrap {
    width: 1180px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.travelAi_guideList {
    display: flex;
    height: 100%;
}

.travelAi_guideList>li {
    height: 100%;
    padding: 0 35px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/nav_arw.png") no-repeat top left/contain
}

.travelAi_guideList>li:first-child {
    background: none;
    padding: 0;
    justify-content: start;
    width: 40px;
}

.travelAi_guideList>li:last-child {
    position: relative;
}

.travelAi_guideList>li:last-child>a {
    color: #5289e6;
    position: relative;
}

.travelAi_guideList>li:last-child>a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #5289e6;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.travelAi_guideList>li:nth-child(3)>a::before {
    content: '▼';
    position: absolute;
    top: 0;
    right: -20px;
}

/* 가이드바 3depth */
.travelAi_3depthList {
    position: absolute;
    background: #fff;
    top: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #dfdfdf;
    display: none;
}

.travelAi_3depthList li:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}

.travelAi_3depthList li {
    text-align: center;
    line-height: 50px;
}

.travelAi_3depthList li:hover a {
    background: #5289e6;
    color: #fff;
}

.travelAi_3depthList li>a {
    display: block;
    color: #777;
}

/* 메일, 프린트, sns */
.travelAi_share_box {
    display: flex;
    align-items: center;
}

.travelAi_share_box ul {
    display: flex;
}

.travelAi_share_box ul li {
    margin-left: 4px;
}

.travelAi_share_box ul li:first-child {
    margin-left: 0;
}

.travelAi_sendList {
    position: relative;
}

.travelAi_sendList li {
    margin-right: 15px;
}

.travelAi_sendList::after {
    content: '';
    width: 1px;
    height: 17px;
    background: #e5e5e5;
    position: absolute;
    top: 0px;
    right: 0;
}

.travelAi_snsList {
    margin-left: 15px;
}

.travelAi_content {
    width: 1180px;
    margin: auto;
}

.travelAi_content>h2 {
    margin-top: 50px;
    font-size: 30px;
}

.travelAi_4dp_lnb_box {
    width: 100%;
    height: 60px;
    margin-top: 50px;
}

.travelAi_4dp_lnb_box>ul {
    width: 1180px;
    height: 60px;
    display: flex;
}

.travelAi_4dp_lnb_box>ul>li {
    width: 590px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.travelAi_4dp_lnb_box>ul>li>a>h3 {
    display: block;
    border: 1px solid #e6e6e6;
}

.travelAi_4dp_lnb_box>ul>li:first-child>a>h3 {
    border-right: none;
}

.travelAi_4dp_focus {
    background: #0051a4;
    border-color: #0051a4;
    color: #fff;
}

/* 오늘 준비한 당신의 맞춤 여행지 */
.travelAi_today_content {
    margin-top: 35px;
    height: 420px;
}

.travelAi_today_content>h4 {
    font-size: 26px;
    padding-bottom: 28px;
}

.traverAi_today_hoverImg1 {
    background: url("../images/toDayRegion1.jpeg")
}
.traverAi_today_hoverImg2 {
    background: url("../images/toDayRegion2.jpeg")
}
.traverAi_today_hoverImg3 {
    background: url("../images/toDayRegion3.jpeg")
}
.traverAi_today_hoverImg4 {
    background: url("../images/toDayRegion4.jpeg")
}

.travelAi_today_slide_wrap {
    height: 370px;
}

.travelAi_today_hover_wrap>ul {
    display: flex;
    padding-bottom: 30px;
}

.travelAi_today_hover_wrap>ul>li {
    position: relative;
    margin-right: 20px;
    width: 250px;
}

.travelAi_today_hover_wrap>ul>li::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40%;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.6));
}

.travelAi_today_hover_wrap>ul>li:last-child {
    margin-right: 0;
}

.travelAi_today_hover_wrap>ul>.travelAi_todayList_this {
    width: 370px;
    box-shadow: 11px 12px 29px 0px rgba(32, 54, 90, 0.27);
}


.travelAi_today_hover_wrap>ul>li>a>span {
    display: block;
    position: relative;
    height: 340px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 텍스트 박스 */
.travelAi_todayText_box {
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    width: 100%;
    padding-bottom: 22px;
}

.travelAi_todayText_box>strong {
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.travelAi_todayText_box>span {
    font-weight: 300;
}

.travelAi_today_likeBtn {
    text-indent: -9999px;
    background-repeat: no-repeat;
    position: absolute;
    width: 31px;
    height: 31px;
    top: 17px;
    right: 17px;
    background-position: 50% 0;
    background-image: url("../images/like.png");
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    /* outline: 0 none; */
    z-index: 10;
}