.main {
    width: 100%;
}

.travelAiPlanner_content {
    width: 1180px;
    height: auto;
    margin: auto;
}

.travelAiPlanner_img_box {
    width: 100%;
    height: 1235px;
}

.travelAiPlanner_img_box>img {
    width: 100%;
    height: 100%;
}

/* 카드 배경  */
.travelAiPlanner_card_content {
    width: 100%;
    height: 800px;
    padding: 45px 0 50px;
    background: #567ff2;
}

/* flip 되는 컨테이너 */
.travelAiplanner_flip_container {
    width: 600px;
    height: 734px;
    margin: auto;
    perspective: 1000px;
}

.travelAiPlanner_card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 5px 8px 19px 0px rgba(23, 41, 136, 0.3);
    border-radius: 8px;
}

/* 앞 뒤 카드들 */
.travelAiPlanner_frontCard_wrap,
.travelAiPlanner_backCard_wrap {
    width: 600px;
    height: 734px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* 앞 */
.travelAiPlanner_frontCard_wrap {
    background: #fff;
}

.travelAiPlanner_frontCard_wrap::before {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_frontCard_wrap::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    right: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

/* 글씨 정리 */
.travelAiPlanner_frontCard_wrap>p {
    padding-top: 28px;
    color: #333;
    font-size: 18px;
}

.travelAiPlanner_frontCard_wrap>strong>span {
    font-weight: 700;
    color: #3569d8;
}

.travelAiPlanner_frontCard_wrap>strong {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.travelAiPlanner_frontCard_wrap>img {
    width: 100%;
    height: auto;
}

/* 코스 만드기 및 AI콕콕 플래너 설명 버튼 */
.travelAiPlanner_frontMakeMore_box {
    width: 500px;
    height: 90px;
    position: absolute;
    text-align: center;
    bottom: 30px;
}

.travelAiPlanner_frontMakeMore_box>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 19px;
}

.travelAiPlanner_frontMakeMore_box>button {
    margin-top: 15px;
    border: none;
    background: inherit;
    cursor: pointer;
    font-size: 18px;
}

.travelAiPlanner_frontCard_wrap>button::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 11px;
    margin-left: 4px;
    background: url("/travelAi/images/travelAiPlanner/btn_planner_view.png") 0 0 / 100% 100% no-repeat;
}

/* 뒤 */
.travelAiPlanner_backCard_wrap {
    background-color: #3460c2;
    transform: rotateY(180deg);
    color: #fff;
}

.travelAiPlanner_backCard_wrap::before {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_backCard_wrap::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    right: -26px;
    top: 72.8%;
    background: #5179ea;
    border-radius: 100%;
}

.travelAiPlanner_backCard_wrap>p {
    padding-top: 28px;
    font-size: 18px;
}

.travelAiPlanner_backCard_wrap>strong>span {
    font-weight: 700;
}

.travelAiPlanner_backCard_wrap>strong {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

.traverAiPlanner_backCardText_box {
    margin-top: 90px;
    font-size: 20px;
    text-align: center;
}

.traverAiPlanner_backCardText_box>p {
    margin-top: 20px;
}

.travelAiPlanner_backMakeMore_box {
    width: 500px;
    height: 90px;
    position: absolute;
    text-align: center;
    bottom: 25px;
}

.travelAiPlanner_backMakeMore_box>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 19px;
    color: #fff;
}

.travelAiPlanner_backMakeMore_box>button {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    margin-top: 10px;
    border: none;

}

.travelAiPlanner_backMakeMore_box>button::after {
    content: '';
    width: 24px;
    height: 24px;
    background: url("/travelAi/images/travelAiPlanner/btn_curation_area_mclose.png") center no-repeat;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
}

/* 
.travelAiPlanner_card {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.travelAiPlanner_front_card,
.travelAiPlanner_back_card {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travelAiPlanner_front_card_content,
.travelAiPlanner_back_card_content {
    width: 600px;
    height: 734px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    cursor: pointer;
    backface-visibility: hidden;
}

.travelAiPlanner_front_card_content {
    background: #fff;
}

.travelAiPlanner_back_card_content {
    background: #3460c2;
    transform: rotateY(180deg);
    opacity: 0.0;
}

.travelAiPlanner_front_card_content>img {
    width: 600px;
    height: auto;
} */