body{
    width: 100%;
}
.container{
    position: relative;
    display: grid;
    top: 50vh;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 1180px;
    height: 600px;
    background-color: gray;
}

