.regionMap_content {
    width: 1180px;
    height: 888px;
    margin: auto;
    text-align: center;
}

.regionMap_content>h2 {
    font-size: 30px;
}

.regionMap_ {
    width: 590px;
    height: 776px;
    float: left;
}

.regionMap_map_wrap {
    width: 590px;
    height: 776px;
    display: flex;
    position: relative;
    justify-content: center;
    float: right;
}

.regionMap_map_box {
    width: 391px;
    height: 671px;
    background: url("../images/korea.png") no-repeat;
    background-size: contain;
    position: relative;
}

.seoul {
    width: 38.48px;
    height: 31.26px;
    display: block;
    position: absolute;
    top: 123px;
    left: 106px;
    z-index: 5;
}

.seoul_on {
    width: 38.48px;
    height: 31.26px;
    display: block;
    position: absolute;
    background: url("../images/seoul_on.png") no-repeat;
    background-size: contain;
    top: 123px;
    left: 106px;
    z-index: 5;
}

.incheon {
    width: 57.19px;
    height: 57.31px;
    display: block;
    position: absolute;
    top: 105px;
    left: 46px;
    z-index: 3;
}

.incheon_on {
    width: 57.19px;
    height: 57.31px;
    display: block;
    position: absolute;
    background: url("../images/incheon_on.png") no-repeat;
    background-size: contain;
    top: 105px;
    left: 46px;
    z-index: 3;
}

.gyeonggido {
    width: 134.15px;
    height: 170.88px;
    display: block;
    position: absolute;
    top: 54px;
    left: 77px;
    z-index: 2;
}

.gyeonggido_on {
    width: 134.15px;
    height: 170.88px;
    display: block;
    position: absolute;
    background: url("../images/gyeonggi-do_on.png") no-repeat;
    background-size: contain;
    top: 54px;
    left: 77px;
    z-index: 2;
}

.gangwondo {
    width: 256.85px;
    height: 259.44px;
    display: block;
    position: absolute;
    top: 0px;
    left: 124px;
    z-index: 1;
}

.gangwondo_on {
    width: 256.85px;
    height: 259.44px;
    display: block;
    position: absolute;
    background: url("../images/Gangwon-do_on.png") no-repeat;
    background-size: contain;
    top: 0px;
    left: 124px;
    z-index: 1;
}

.chungnam {
    width: 153.9px;
    height: 136.49px;
    display: block;
    position: absolute;
    top: 202px;
    left: 35px;
    z-index: 2;
}

.chungnam_on {
    width: 153.9px;
    height: 136.49px;
    display: block;
    position: absolute;
    background: url("../images/Chungnam_on.png") no-repeat;
    background-size: contain;
    top: 202px;
    left: 35px;
    z-index: 2;
}

.sejong {
    width: 24.96px;
    height: 45.84px;
    display: block;
    position: absolute;
    top: 246px;
    left: 137px;
    z-index: 5;
}

.sejong_on {
    width: 24.96px;
    height: 45.84px;
    display: block;
    position: absolute;
    background: url("../images/Sejong_on.png") no-repeat;
    background-size: contain;
    top: 246px;
    left: 137px;
    z-index: 5;
}

.daejeon {
    width: 20.8px;
    height: 33.34px;
    display: block;
    position: absolute;
    top: 278px;
    left: 157px;
    z-index: 5;
}

.daejeon_on {
    width: 20.8px;
    height: 33.34px;
    display: block;
    position: absolute;
    background: url("../images/Daejeon_on.png") no-repeat;
    background-size: contain;
    top: 278px;
    left: 157px;
    z-index: 5;
}

.jeonbuk {
    width: 174.7px;
    height: 107.32px;
    display: block;
    position: absolute;
    top: 322px;
    left: 45px;
    z-index: 3;
}

.jeonbuk_on {
    width: 174.7px;
    height: 107.32px;
    display: block;
    position: absolute;
    background: url("../images/Jeonbuk_on.png") no-repeat;
    background-size: contain;
    top: 322px;
    left: 45px;
    z-index: 3;
}

.gwangju {
    width: 33.28px;
    height: 22.92px;
    display: block;
    position: absolute;
    top: 436px;
    left: 93px;
    z-index: 5;
}

.gwangju_on {
    width: 33.28px;
    height: 22.92px;
    display: block;
    position: absolute;
    background: url("../images/Gwangju_on.png") no-repeat;
    background-size: contain;
    top: 436px;
    left: 93px;
    z-index: 5;
}

.jeonnam {
    width: 206.94px;
    height: 171.92px;
    display: block;
    position: absolute;
    top: 408px;
    left: 0px;
    z-index: 2;
}

.jeonnam_on {
    width: 206.94px;
    height: 171.92px;
    display: block;
    position: absolute;
    background: url("../images/jeonnam_on.png") no-repeat;
    background-size: contain;
    top: 408px;
    left: 0px;
    z-index: 2;
}

.chungbuk {
    width: 144.54px;
    height: 156.29px;
    display: block;
    position: absolute;
    top: 182px;
    left: 151px;
    z-index: 3;
}

.chungbuk_on {
    width: 144.54px;
    height: 156.29px;
    display: block;
    position: absolute;
    background: url("../images/chungbuk_on.png") no-repeat;
    background-size: contain;
    top: 182px;
    left: 151px;
    z-index: 3;
}

.gyeongbuk {
    width: 185.1px;
    height: 199.01px;
    display: block;
    position: absolute;
    top: 198px;
    left: 205px;
    z-index: 2;
}

.gyeongbuk_on {
    width: 185.1px;
    height: 199.01px;
    display: block;
    position: absolute;
    background: url("../images/Gyeongbuk_on.png") no-repeat;
    background-size: contain;
    top: 198px;
    left: 205px;
    z-index: 2;
}

.daegu {
    width: 40.56px;
    height: 53.14px;
    display: block;
    position: absolute;
    top: 336px;
    left: 265px;
    z-index: 5;
}

.daegu_on {
    width: 40.56px;
    height: 53.14px;
    display: block;
    position: absolute;
    background: url("../images/daegu_on.png") no-repeat;
    background-size: contain;
    top: 336px;
    left: 265px;
    z-index: 5;
}

.ulsan {
    width: 49.91px;
    height: 47.93px;
    display: block;
    position: absolute;
    top: 378px;
    left: 330px;
    z-index: 3;
}

.ulsan_on {
    width: 49.91px;
    height: 47.93px;
    display: block;
    position: absolute;
    background: url("../images/ulsan_on.png") no-repeat;
    background-size: contain;
    top: 378px;
    left: 330px;
    z-index: 3;
}

.busan {
    width: 47.84px;
    height: 39.59px;
    display: block;
    position: absolute;
    top: 422px;
    left: 313px;
    z-index: 3;
}

.busan_on {
    width: 47.84px;
    height: 39.59px;
    display: block;
    position: absolute;
    background: url("../images/busan_on.png") no-repeat;
    background-size: contain;
    top: 422px;
    left: 313px;
    z-index: 3;
}

.gyeongnam {
    width: 162.22px;
    height: 153.16px;
    display: block;
    position: absolute;
    top: 354px;
    left: 189px;
    z-index: 2;
}

.gyeongnam_on {
    width: 162.22px;
    height: 153.16px;
    display: block;
    position: absolute;
    background: url("../images/gyeongnam_on.png") no-repeat;
    background-size: contain;
    top: 354px;
    left: 189px;
    z-index: 2;
}

.jeju {
    width: 83.19px;
    height: 46.89px;
    display: block;
    position: absolute;
    top: 621px;
    left: 126px;
}

.jeju_on {
    width: 83.19px;
    height: 46.89px;
    display: block;
    position: absolute;
    background: url("../images/jeju_on.png") no-repeat;
    background-size: contain;
    top: 621px;
    left: 126px;
}