.event_main_banner img{
    width: 100%;
    height: 330px;
}
.course_subGnb_wrap{
    width:100%;
    height:50px;
    border-bottom:1px solid #dfdfdf;
    box-sizing: content-box;
    margin-bottom:70px;
}

.course_subGnbContent_wrap{
    width:1180px;
    margin:0 auto;
    background:#fff;
    height:50px;
    display: flex;
    justify-content: space-between;
}

.course_subGnbList{
    width:304px;
    display:flex;
    align-items: center;
    position:relative;
}

.course_subGnbListFirstItem{
    width:40px;
}

.course_subGnbListFirstItemLink{
    display:block;
    width:40px;
    vertical-align: middle;
}

.course_subGnbListItem{
    width:141px;
    background:url(../images/nav_arw.png) left no-repeat;
    height:50px;
    padding:13px 20px 0 50px;
    position:relative;
}

.course_subGnbListItemText{
    font-size:15.4px;
}

.course_subGnbListItemLink{
    font-size:15.4px;
    position:relative;
    color:#5289e6;
}

.course_subGnbListItemLinkText::before{
    position:absolute;
    bottom:-4px;
    left:1px;
    content:'';
    height:1px;
    width:100%;
    background-color: #5289e6;
}

.course_subGnbListItemLinkTriangle{
    position:absolute;
    top:3px;
    right:-15px;
}

.course_subGnbSns_box{
    width:268px;
    height:50px;
    position:relative;
    display: flex;
}

.course_subGnbSnsFuncList{
    display:flex;
    width:72px;
    height:50px;
    align-items: center;
}

.course_subGnbSnsFuncListItem{
    margin-right:15px;
}

.course_subGnbSnsFuncList::after{
    content:'';
    position:absolute;
    left:72px;
    top:16px;
    width:1px;
    height:17px;
    background-color:#e5e5e5;
}

.course_subGnbSnsList{
    display:flex;
    width:196px;
    padding-left:15px;
    padding-top:10px;            
}

.course_subGnbSnsListItem{
    margin-left:4px;
}

.course_subGnbSnsListItem--noMargin{
    margin-left:0px;
}

.course_subGnbSnsListItemLinkImg{
    width:33px;
    height:32px;
}
.event_nav_wrap>ul>li{
    list-style: none;
    display: flex;
    float: left;
}
.event_button_wrap{
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    margin-bottom: 20px;
}
.event_main_img1{
    float: left;
}
.event_button_wrap button{
    width: 150px;
    height: 40px;
    margin-right: 20px;
}
.event_button_wrap button:hover{
    background-color: #0051A4;
    color: white;
}
.event_main1_img_text b{
    color: #dfdfdf;
}
.event_nav_Mail_wrap{
    display: flex;
    float: left;
    border-right: 1px solid #dfdfdf;
}
.event_nav_Mail_wrap img{
    padding-right: 10px;
}
.event_nav_sosical_wrap img{
    width: 33px;
    height: 32px;
}
.event_main_board_content_wrap{
    padding-top: 20px;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 80px;
}
.event_main_board_content_wrap li{
    display: flex;
}
.event_main_board_content_wrap li .event_content_img{
    justify-content: left;
 }
.event_main_board_content_wrap li .event_content_img img{
    width: 177.266px;
    height:118.172px;
    padding-right: 30px;
}
.event_main_board_content_wrap li{
    list-style: none;
}
.writer::after{
    padding-left: 1px;
    content:"l";
}
.event_main_bottom{
    display: flex;
    justify-content: left;
    padding-top: 20px;

}
.event_main_bottom span{
    color: #dfdfdf;
}
.event_content{
    justify-content: right;
}
.content{
    margin-top: 20px;
}
.createdBy{
    padding-right: 20px;
    padding-left: 2px;
}
.writerDate::after{
    padding-left: 1px;
    content: "l";
}
.event_main_search_box{
    display: flex;
    justify-content: space-between;
}
.event_main_content_wrap{
    width: 1180px;
    margin: 0 auto;
}