.test_wrap{
    position:absolute;
    left:50%;
    top:300px;
}

.test_wrap_List{
    display:flex;
    width:500px;
    height:auto;
    background-color: #ccc;
    margin-bottom:50px;
}

.test_wrap_ListItem{
    margin-left:10px;
    font-size:20px;
}

.test_wrap_ListItemClick{
    background-color: crimson;
}



