/* 임시 헤더 */
.psuedo_header{
     width:100%;
     height:105px;
}

/* main */
.main_content{
     width:940px;
     margin:0 auto;
     padding:25px 15px 30px;
}

/* 해시태그 목록 */
.course_hashtag_wrap{
     width:911px;
     height:83px;
     position:relative;
     margin-bottom:10px;
}

.course_hashtagTitle_box{
     height:44px;
     border-bottom:2px solid #000;
}

.course_hashtagTitle{
     padding:6px 0px 10px 23px;
     font-weight:800;
     font-size:20px;
     color:#333;
     letter-spacing: -1px;
}

.easy_icon{
     display:block;
     background:url(https://korean.visitkorea.or.kr/resources/images/sub/ico_tit_cos_pc.png) no-repeat;
     text-indent: -9999px;
     position:absolute;
     top:4px;
     left:0px;
     width:20px;
     height:23px;
     background-size:20px;
}

.course_hashtagList_box{
     margin-top:10px;
     height:27px;
}

.course_hashtagList{
     display:flex;
     margin-left:-10px;
     height:29px;
     padding:2px 0 0 2px;
}

.course_hashtagListItem{
     font-size:13px;
     margin-left:10px;
}

.course_hashtagListItem--bold{
     font-weight: 800;
}

/* 지역 목록 */
.course_region_box{
     position:relative;
}

.course_regionTitle{
     font-size:16px;
     letter-spacing: -0.5px;
     margin-bottom:10px;
}

.course_regionSelect{
     display:block;
     width:100%;
     height:46px;
     padding:10px 10px;
     border:1px solid #bbb;
     color:#666;
     font-size:1.1em;
     line-height:18px;
     margin-bottom:10px;
}

/* 여러분이 직접 만든 코스를 소개합니다! */
.course_userCourse_wrap{
     position:relative;
}

.course_userCourseTitle{
     font-size:16px;
     padding-left:10px;
     letter-spacing: -0.5px;
     margin-bottom:12px;
}

.course_userCourseTitle::before{
     content:"";
     background:url();
     width:3px;
     height:13px;
     background-color:#0a97cd;
     position:absolute;
     top:5px;
     left:0px;
}

.course_userCourseLink{
     display:block;
     margin-bottom:5px;
}

.course_userCourseImg{
     display:block;
     width:100%;
}

.course_userCourseCombo_wrap{
     position:relative;
}

.course_userCourseItem_box{
     
}
