.festival_skip {
    position: relative;
    width: 100%
}

.festival_skip a {
    padding: 10px 20px;
    border: 3px solid #333;
    background: #fff;
    position: absolute;
    left: 5px;
    top: -100px;
    z-index: 1000
}

.festival_skip a:active,
.festival_skip a:focus {
    top: 5px
}

.festival_title_box {
    width: 940px;
    margin: 0 auto 100px;
    border-bottom: 2px solid black;
}

.festival_topimg_wrap {
    width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.festival_topimg_box div {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    font-size: 14px;
    border-radius: 10px;
}

.festival_topimg_box div img {
    width: 100%;
}

.festival_bottomimg_wrap {
    width: 940px;
    margin: auto;
    display: flex;
    position: relative;
}

.festival_bottomimg_box {
    width: 260px;
    padding: 20px;
    margin: 0 20px 0 0;
    border: 1px solid #eee;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    top: -50px;
}

.festival_bottomimg_box img {
    width: 100%;
}



.festival_calendartitle_box {
    width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background: #f1efef;

}

.festival_calendartitle_box h3 {
    height: 60px;
    margin: 0 0 23px;
    background: url(/images/festival_calendar_tit.png) 50% 0 no-repeat;
    text-indent: -9999px;
}

.festival_calendartitle_box span strong {
    display: inline-block;
    width: 162px;
    font-weight: 700;
    vertical-align: middle;
    font-size: 100px;
    height: 86px;
    line-height: 86px;
    color: #ef386e;
    letter-spacing: -8px;
}

.festival_calendartitle_box span span {
    display: block;
    padding: 19px 0 33px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    color: #000;
}

.festival_calendar {
    width: 940px;
    margin: auto;
    text-align: center;
    box-shadow: 4px 4px 0px 0px rgba(36, 36, 37, 0.16);
    border: 2px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;
    top: -50px;
}

.festival_calendar thead tr {
    border: 2px solid black;
}

.festival_calendar thead tr th {
    height: 80px;
    font-size: 45px;
    line-height: 50px;
    color: #333;
    border-left: 1px solid #efeded;
    background: #fff;

}

.festival_calendar thead tr th span {
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
}

.festival_calendar tbody tr td {
    border: 1px solid #eee;
    padding: 10px;
}

.festival_calendar tbody tr td:hover {
    background: wheat;
}

.festival_calendar tbody tr td a em {
    font-weight: 800;
    font-size: 15px;
    color: #7d42c9;
}

.festival_calendar .holly {
    color: #ef386e;
}

.festival_calendar .saturday {
    color: #1b8bd7;
}

.festival_calendar tbody tr td a strong {
    display: block;
    padding: 13px 0 22px;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2px;
    color: #000;
}

.festival_calendar tbody tr td a>span {
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}