/*
색상
선택상자 : 0051A4

넓이
컨텐츠 영역 넓이 :  1180px

폰트
Noto Sans Kr

폰트 사이즈 용도별
제목 : 20 ~ 32px(h1~6)
본문 : 16 ~ 18px
캡션 : 10 ~ 12px
*/


/*축제페이지 시작*/
/*컨텐츠 넓이*/
.main {
    width: 1140px;
    margin: auto;
}

/*컨텐츠 제목 안쪽여백*/
.main .festival_list_title {
    padding: 50px;
}

/*컨텐츠 제목 가운데 정렬 글자크기 조절*/
.main .festival_list_title h2 {
    text-align: center;
    font-size: 32px;
}

/*지역 필터 시작*/
/*지역선택 배경색,테두리, 패팅 추가 버튼 정렬*/
.festival_fillter_wrap .festival_region_fillter_box {
    background: #eee;
    border-top: 2px solid #999;
    display: flex;
    justify-content: space-between;
}

/*지역선택 버튼 테두리 제거*/
.festival_fillter_wrap .festival_region_fillter_box button {
    padding: 15px;
    font-size: 16px;
    border: 0;
}

/*지역선택 버튼 호버효과 추가*/
.festival_fillter_wrap .festival_region_fillter_box button:hover {
    background: #0051A4;
    color: #fff;
    transition: all 0.3s;
}

/*지역 필터 끝*/

/*여행목적필터 시작*/
/*여행목적선택 바깥여백조절 버튼정렬*/
.festival_fillter_wrap .festival_concept_fillter_box {
    margin: 40px 0 60px 0;
    display: flex;
    justify-content: space-between;
}

/*여행목적선택 버튼 */
.festival_fillter_wrap .festival_concept_fillter_box button {
    width: 240px;
    height: 60px;
    background: #fff;
    border: 1px solid #0051A4;
    font-size: 18px;
}

/*여행목적선택 버튼 호버효과*/
.festival_fillter_wrap .festival_concept_fillter_box button:hover {
    background: #0051A4;
    color: #fff;
    transition: all 0.3s;
}

/*여행목적필터 끝*/


/*축제리스트 시작*/
/*축제목록 상단 테두리 추가*/
.festival_list_wrap {
    border-top: 2px solid black;
}

/*축제목록 하단 바깥여백 조절*/
.festival_list_content_box {
    margin-bottom: 40px;
}

/*축제목록 패딩조절, 이미지 텍스트 정렬, 하단 테두리 추가*/
.festival_list_content_box ul li {
    padding: 15px 0;
    display: flex;
    border-bottom: 1px solid #eee;
}

/*축제목록 이미지박스 오른쪽 바깥여백 조절*/
.festival_list_content_box ul li .festival_list_img_box {
    width: 300px;
    height: 200px;
    margin-right: 50px;
}

.festival_list_content_box ul li .festival_list_img_box img {
    width: 100%;
    height: 200px;
}

/*축제목록 텍스트 정렬*/
.festival_list_content_box ul li .festival_list_text_box div {
    display: flex;
}

/*축제목록 텍스트 바깥여백 추가 글자크기 조절*/
.festival_list_content_box ul li .festival_list_text_box>p {
    margin-bottom: 40px;
    font-size: 18px;
}

/*축제목록 텍스트 안쪽, 바깥쪽여백조절 배경색변경 글자색,크기변경*/
.festival_list_content_box ul li .festival_list_text_box p span {
    padding: 5px;
    margin-right: 10px;
    background: #0051A4;
    color: #fff;
    font-size: 16px;
}

/*축제목록 텍스트 오른쪽 바깥여백 조절 */
.festival_list_content_box ul li .festival_list_text_box div p {
    margin-right: 20px;
}

/*축제리스트 끝*/

/*축제페이징 시작*/
/*축제목록 페이징 가운데정렬*/
/*pagenation*/
.pagination {
    background: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination i {
    color: #fff;
    font-size: 1.2em;
}

#numbers {
    padding: 0;
    margin: 0 2rem;
    list-style-type: none;
    display: flex;

}

#numbers li a {
    color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
    opacity: .7;

}

#numbers li a:hover {
    opacity: 1;
}

#numbers li a:active {
    opacity: 1;
    background: #fff;
    color: #333;
}

/*
.festival_list_paging_box {
    text-align: center;
}
*/

/*축제목록 페이징 테두리 추가, 안쪽여백 조절*/
/*
.festival_list_paging_box a {
    border: 1px solid #dfdfdf;
    padding: 10px;
}
*/
/*
.festival_list_paging_box a:hover {
    background: #0051A4;
    color: #fff;
    transition: all 0.3s;
}
*/

/*축제페이징 끝*/

/*축제상세페이지 시작*/
/*페이지 넓이 조정 콘텐츠 가운데 정렬*/
.festivalDetail_main {
    width: 1180px;
    margin: auto;
}

.festivalDetail_title_box {
    text-align: center;
}

.festivalDetail_title_box h2 {
    font-size: 20px;
}

.festivalDetail_title_box>p {
    margin-bottom: 20px;
}

.festivalDetail_title_box .festivalDetail_caption {
    font-size: 18px;
}

.festivalDetail_post_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.festivalDetail_post_wrap div span {
    margin: 5px;
}

.festivalDetail_post_wrap div button {
    margin: 5px;
    border: 0;
}

.festival_postLike {
    display: inline-block;
    text-indent: -9999px;
    width: 21px;
    height: 19px;
    background: url(/festival/images/ico_post01.png) no-repeat;
}

.festival_postView {
    vertical-align: middle;
    display: inline-block;
    text-indent: -9999px;
    font-size: 0;
    width: 24px;
    height: 18px;
    background: url(/festival/images/ico_post07.png) no-repeat;
}

.festivalDetail_postBook {
    text-indent: -9999px;
    position: relative;
    width: 16px;
    height: 18px;
    background: url(/festival/images/ico_post03.png) no-repeat;
}

.festivalDetail_postPrint {
    text-indent: -9999px;
    width: 20px;
    height: 18px;
    background: url(/festival/images/ico_post04.png) no-repeat;
}

.festivalDetail_postShare {
    text-indent: -9999px;
    width: 20px;
    height: 18px;
    background: url(/festival/images/ico_post02.png)no-repeat;
}


.festivalDetail_tab_box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.festivalDetail_tab_box a {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    border: 0;
    background: none;
}

.slide_wrapper {
    position: relative;
    width: 660px;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.slides.animated {
    transition: 0.5s ease-out;
}

.slides li {
    width: 660px;
    height: 900px;
    background: #ccc;
    float: left;
}

.slides li:not(:last-child) {
    margin-right: 30px;
}

.controls {
    text-align: center;
    position: relative;
    top: -400px;
}

.controls .next {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    right: 100px;
    width: 40px;
    height: 40px;
    background: url(../images/btn_slider_next.png) 0 0 no-repeat;
    text-indent: -9999px;

}

.controls .prev {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    left: 100px;
    width: 40px;
    height: 40px;
    background: url(../images/btn_slider_prev.png) 0 0 no-repeat;
    text-indent: -9999px;
}


.festivalDetail_text_box h3 {
    margin: 10px 0;
    font-size: 20px;
}

.festivalDetail_text_box div {
    margin-bottom: 50px;
    padding: 20px 0;
    border-top: 2px solid black;

}

#festivalDetail_map {
    width: 1180px;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
}

.festivalDetail_detailInfo_box {
    margin-bottom: 50px;
    display: flex;
    font-size: 18px;
}

.festivalDetail_detailInfo_box div {
    margin-right: 100px;
}

.festivalDetail_detailInfo_box div p strong {
    display: inline-block;
    width: 100px;
}

.user_expression {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 62px 0;
    justify-content: space-between;
    word-break: keep-all;
}
.user_expression strong:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: 14px;
    background: url(/festival/images/icon_user_expression02.png) no-repeat;
}

.user_expression strong {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 24px;
    color: #333;
}
.user_expression span .good {
    margin-left: 80px;

}

.user_expression .form span {
    float: left;
    margin-left: 20px;
    background: #f1f1f1;
    height: 71px;
    width: 152px;
    text-align: center;
    border-radius: 50px;
    padding: 13px 0 0;
    box-sizing: border-box;
}

.user_expression input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.user_expression input[type="radio"]+label {
    position: relative;
    display: inline-block;
    min-height: 45px;
    padding-left: 60px;
    line-height: 45px;
    font-weight: 700;
    font-size: 18px;
    color: #666;
    vertical-align: middle;
}

.user_expression input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    vertical-align: 14px;
    background-position: 0 -90px;
    background: url(/festival/images/icon_user_expression.png) no-repeat;
    border: 0;
}
.user_expression .good input[type="radio"]+label:before {
    background-position: 0 0px;
}
.user_expression .goodClick input[type="radio"]+label:before {
    background-position: 0 -45px;
}

.user_expression .not input[type="radio"]+label:before {
    background-position: 0 -90px;
}
.user_expression .notClick input[type="radio"]+label:before {
    background-position: 0 -135px;
}

.festivalDetail_recommend_title {
    margin-bottom: 20px;
    font-size: 30px;
}

.festivalDetail_recommend_wrap {
    display: flex;
}

.festivalDetail_recommend_wrap .festivalDetail_recommendImg_box {
    width: 380px;
}

.festivalDetail_recommend_wrap .festivalDetail_recommendImg_box div {
    margin: 0 20px 20px 0;
}

.festivalDetail_recommend_wrap .festivalDetail_recommendImg_box img {
    width: 100%
}

.festivalDetail_aiImg {
    width: 360px;
}

.festivalDetail_aiImg img {
    width: 100%;
}