.main form {
    width: 940px;
    margin: auto;
    text-align: center;
}
.festival_top_box{
    width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.home_black{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/main__black_ico.png) no-repeat 50% 50% / 32px;
    background-size: 24px 24px;
}
.festival_top_box button{
    width: 24px;
    height: 24px;
    background: url(../images/searc_blackh_btn.png) no-repeat 50% 50% / 32px;
    background-size: 24px 24px;
}
form fieldset{
display: flex;
justify-content: space-between;
}
form .festival_searchDate_box{
width: 200px;
    background: url(../images/date_ico.svg) no-repeat 20px center / 24px;
}
form .festival_searchArea_box{
    width: 200px;
    background: url(../images/area_ico.svg) no-repeat 20px center / 24px;
}
form .festival_searchCate_box{
    width: 220px;
    background: url(../images/cate_ico.svg) no-repeat 20px center / 24px;
}
form select{
    width: 100%;
    height: 48px;
    padding: 0 0 0 52px;
    border: 1px solid #000;
    border-radius: 8px;
    background: transparent url(../images/select_ico.svg) no-repeat right 20px center / 24px;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 16px;
    font-weight: 400;
    color: #00000A;
}
.btn_reset{
    width: 48px;
    display: inline-block;
    padding: 11px 10px;
    margin-right: 12px;
    border: 0;
    border-radius: 8px;
    background: #FFF url(../images/reset_ico.png) no-repeat 50% 50% / 20px;
    border: 1px solid #CCCCD1;
    font-size: 20px;
    font-weight: 600;
    color: #666670;
    line-height: 20px;
    vertical-align: top;
}
.btn_search span::after{
    width: 150px;
    content: '';
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../images/search_ico.svg) no-repeat 50% 50% / 20px;
}
.btn_search{
    padding: 15px 73px 13px 39px;
    border: 0;
    border-radius: 8px;
    background: #7a45e5;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 20px;
}


.festival_banner_wrap {
    width: 940px;
    margin: auto;
}

.festival_list_wrap {
    width: 940px;
    margin: auto;
}
.festival_list_wrap > div{
    text-align: right;
}

.festival_list_wrap ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.festival_list_wrap ul li {
    width: 300px;
    height: 350px;
}

.festival_list_wrap ul li a .festival_listImg_box {
    width: 300px;
    height: 210px;
}

.festival_list_wrap ul li a .festival_listImg_box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.festival_list_wrap .festival_listText_box{
    padding: 10px;
    line-height: 2em;
}
.festival_list_wrap .festival_listText_box p{
    font-size: 16px;
}
.festival_list_wrap .festival_listText_box strong{
    font-size: 20px;
}